{% extends 'base.html.twig' %}

{% block body %}

<div class="asso-bloc d-flex flex-wrap flex-row">
    {# Parti haute de la page 
    "Qui sommes nous ?"
    #}
    <div class="asso-box">
<img class="asso" src="http://www.ressources.tedyware.fr/im1who.png" alt="">
    </div>

    <div style="background-color: #ee9b00;" class="asso-box">
        <h2 class="sub-title">Qui sommes-nous ?</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam facere doloremque
            voluptatem, quisquam tempora explicabo eos blanditiis expedita tempore distinctio. Iste fugiat vero
            veritatis corrupti hic explicabo eaque maiores?</p>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam facere doloremque
            voluptatem, quisquam tempora explicabo eos blanditiis expedita tempore distinctio. Iste fugiat vero
            veritatis corrupti hic explicabo eaque maiores?</p>
    </div>
    {# Parti basse de la page 
    "Pourquoi une association ?"
    #}

    <div style="background-color: #ee9b00;" class="asso-box">
        <h2 class="sub-title">Pourquoi une association ?</h2>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam facere doloremque
            voluptatem, quisquam tempora explicabo eos blanditiis expedita tempore distinctio. Iste fugiat vero
            veritatis corrupti hic explicabo eaque maiores?</p>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam facere doloremque
            voluptatem, quisquam tempora explicabo eos blanditiis expedita tempore distinctio. Iste fugiat vero
            veritatis corrupti hic explicabo eaque maiores?</p>
    </div>
    <div class="asso-box">
        <img class="asso" src="http://www.ressources.tedyware.fr/im2who.png" alt="">
    </div>

</div>
{% endblock body %}
