//+ Colors
//- Theme Light
$yellow: #ee9b00;
$grapefruit: #ee3f54;
$black: #001219; // font color
$white: #fff; // background-color
// Theme Dark
$darkblue: #1e2334; // Background
$lightblue: #29345a; // Card
$darkyellow: #d18800; // Title
$grey: #b6b4ca;
//card color
$skyblue :#7BA7D7;
$purple :#B87F9E;


//- font import
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
$Comfortaa: "Comfortaa", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$Montserrat: "Montserrat", sans-serif;

//- Common Component 'no responsive'
body,
html {
  background-color: $white;
  scrollbar-color: $yellow $white;
  scrollbar-width: auto;
  overflow-x: hidden;

  span.yellow {
    color: $yellow;
    transition: 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -100px;
    border-radius: 50px;
    &:hover {
      transition: 0.2s;
      background-color: $yellow;
      color: white;
    }
  }

  span.yellow-bg {
    background-color: $yellow;
    color: white;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
  }
}

//-Navbar
//*OK
nav {
  nav-item {
    height: 100% !important;
  }
  .nav-item,
  .nav-link {
    border-radius: 3px;
    color: $black;
    &:hover,
    &:hover {
      background-color: $yellow;
      color: $white !important;
    }
  }
  .active {
    background-color: $yellow;
    color: $black !important;
    &:hover {
      background-color: $darkyellow;
    }
  }
}

//- asso template
//*OK
.asso-bloc {
  height: 1400px;
  width: 100%;
  .asso-box {
    height: 700px;
    width: 50%;
    margin-top: 55px;
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0px;
      margin-bottom: 5px;
    }
    img.asso {
      width: 951.5px;
      height: 700px;
    }
    h2.sub-title {
      font-size: 60px;
      font-family: $Comfortaa;
      text-align: center;
      margin-top: 50px !important;
    }
    p.paragraph {
      font-size: 25px;
      color: $black;
      text-align: justify;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 30px;
    }
  }
}

// -Page jobs
//*OK
.Jobs {
  .left {
    width: 30%;
    height: 100vh;
    .img-jobs-left {
      height: 100%;
      width: 100%;
    }
  }
  .right {
    padding-left: 5%;
    width: 70%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  article.jobs {
    height: auto;
    width: 450px;
    background-color: $white;
    border-radius: 30px;
    margin: 30px;
    margin-top: 80px;
    .banner-jobs {
      width: 100%;
      border-top-left-radius: 30px 30px;
      border-top-right-radius: 30px 30px;
    }

    .btn-continued {
      margin-left: 38%;
      margin-right: 38%;
      margin-bottom: 10px;
    }
    .title-jobs {
      text-align: center;
    }

    .content-jobs {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 20px;
      text-align: justify;
      margin-bottom: 20px;
    }

    .metadata {
      text-align: right;
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
    }
    hr {
      margin: 0 !important;
      padding: 0;
    }
  }
}

//- Page Blog
//*OK
article.blog {
  margin-top: 100px !important;
  h1.title {
    font-size: 80px;
    font-weight: bold;
  }
  .container-card {
    height: 200px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
    .card-blog {
      background-color: #29345a;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: row;
      color: $white;
      &:hover {
        transition: 0.3s ease-in-out;
        margin-top: 10px;
        box-shadow: 5px 5px 3px #364785;
      }
      img {
        height: 170px;
        width: 170px;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 30px;
        margin-bottom: 20px;
        border-radius: 30px;
        object-fit: cover;
      }
      .container-text-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .article-title-card {
          margin-top: 15px;
          margin-left: 25px;
          color: $yellow;
          font-family: $Montserrat;
          font-size: 2rem;
          height: 100px;
          font-weight: bold;
        }
        .category {
          color: $black;
          background-color: $yellow;
          width: auto;
          border-radius: 30px;
          width: 13%;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: 20px;
        }

        .date {
          font-size: 20px;
          font-family: $Comfortaa;
          color: $grey;
          text-align: right;
          margin-right: 20px;
        }
      }
    }
  }
}

// -showBlog
//*OK
article.showArticle {
  background-color: $lightblue;
  height: auto;
  width: 100%;
  border-radius: 20px;

  h1.titleArticle {
    color: $darkyellow;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
    margin-top: 80px;
    font-family: $Montserrat;
  }
  .infoBar {
    color: $grey;
    font-size: 1.2rem;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 30px;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
  }
  p {
    color: $white;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 1.125rem;
    font-family: $Montserrat;
    padding-bottom: 2rem;
  }

  .profil {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    color: $white;
    font-family: $Montserrat;
  }

  .profilPicture {
    aspect-ratio: 1/1;
    width: 4%;
    margin-top: -10px;
    margin-left: 10px;
  }
}

// -Project
//*OK
article.project {
  .row {
    // margin-bottom: 30px;

    &:nth-child(1) {
      margin-top: 60px;
    }
    .collaboratorPart {
      height: 100vh;
      background-color: $yellow;
      color: $white;
      padding: 0 !important;
      .contentCollaboratorPart {
        width: 70%;
        display: block;
        margin: auto;
        margin-top: 30%;
      }
      img.logoCollaborator {
        width: 80%;
        aspect-ratio: 4/3;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
      }
      h2 {
        font-size: 35px;
        font-family: $Montserrat;
        text-align: center;
        margin-top: 30px;
        color: $lightblue;
      }
      p.point {
        font-size: 35px;
        font-family: $Comfortaa;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
      }
      h3 {
        font-size: 25px;
        font-family: $Comfortaa;
        text-align: center;
        margin-top: 0px !important;
      }
      .share {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        width: 55%;
        margin-left: 25%;
        margin-right: 25%;

        a {
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-decoration: none;
          color: $lightblue;
          font-size: 20px;
          transition: 0.3s;
          font-family: $Comfortaa;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .projectPart {
      height: 100vh;
      background-color: $white;
      color: $darkblue;
      padding: 0 !important;
      .projectPicture {
        aspect-ratio: 16/9;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h3.slogan {
        color: $yellow;
        text-align: center;
      }
      p.completionDate {
        font-size: 1.2rem;
        color: $grey;
      }
      p.description {
        color: $lightblue;
        font-size: 1.3rem;
      }
    }
  }
}

//-Page Contact
//*OK
article.contact {
  margin-top: 60px !important;
  padding-bottom: 50px;
  height: auto;
  background: url("http://www.ressources.tedyware.fr/contact/fond-contact.png");

  .containerContactForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 70%;
    background: $white;
    padding: 20px;
    border-bottom: solid 7px $yellow;
    border-right: solid 7px $yellow;
    border-left: solid 7px $grapefruit;

    h1 {
      background: -webkit-linear-gradient(0.1turn, $grapefruit, $yellow);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $Montserrat;
      font-size: 60px;
      margin-top: 20px;
    }
    tr {
      border: white !important;
    }
    .btn-border {
      background-color: $yellow;
      border: none;
      color: #ffffff;
      display: inline-block;
      font-size: 1em;
      font-size: 22px;
      line-height: 1em;
      outline: none;
      padding: 12px 40px 10px;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      &:before,
      &:after {
        border-color: transparent;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        border-style: solid;
        border-width: 0;
        content: "";
        height: 24px;
        position: absolute;
        width: 24px;
      }
      &:hover:before,
      &:hover:after {
        height: 100%;
        width: 100%;
        border-color: $grapefruit;
      }
      &:before {
        border-color: $yellow;
        border-top-width: 2px;
        left: 0px;
        top: -5px;
      }
      &:after {
        border-bottom-width: 2px;
        border-color: $yellow;
        bottom: -5px;
        right: 0px;
      }
      &:hover {
        transition: 0.2s;
        background-color: $grapefruit;
      }
    }

    input,
    select,
    .cke_1 {
      border: 2px solid $yellow !important;
      &:focus {
        border: 2px solid $grapefruit !important;
        box-shadow: none !important;
      }
    }
    .cke_top {
      border: none !important;
      background: $yellow;
    }
    .cke_bottom {
      border: none !important;
      background: $yellow;
    }
    a.cke_button_off:hover,
    .cke_combo_off:hover {
      background-color: $white;
    }
  }
}

//-Home Page
//TODO all
article.home {
  .topImage {
    video {
      height: 700px;
      width: 100%;
      object-fit: cover;
    }
    .overlay {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      .textContent {
        span {
          color: $yellow;
          padding: 3px;
        }
        h1 {
          color: $white;
          font-family: $Montserrat;
          font-size: 4rem;
          margin-top: 20vh;
          margin-left: 150px;
          font-weight: bold;
          width: 55%;
        }
        p {
          color: $white;
          margin-left: 150px;
          margin-top: 30px;
          padding-right: 25%;
          font-size: 1.3rem;
        }
      }
      img {
        margin-top: 8%;
        margin-right: 250px;
        width: 45%;
        height: 50%;
      }
    }
  }
  .projets {
    height: 70vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    .imgContent {
      width: 50%;
      img {
        margin-top: 10%;
        margin-left: 10%;
        height: 70%;
        aspect-ratio: auto;
        border-radius: 50px;
        box-shadow: 5px 5px 0px 0px $yellow;
        transition: 0.3s;

        &:hover {
          box-shadow: 15px 15px 0px 0px $yellow;
          transform: scale(1.01);
        }
      }
    }
    .textContent {
      width: 50%;
      padding-right: 10%;
      h2 {
        color: $yellow;
        margin-top: 17.5%;
        margin-bottom: 5%;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
      p {
        text-align: justify;
        color: $lightblue;
        font-size: 1.5rem;
        line-height: 180%;
      }
      span {
        color: $yellow;
        padding: 3px;
        &:hover {
          background-color: $yellow;
          color: $white;
          border-radius: 50px;
          transition: 0.1s;
        }
      }
      a {
        height: 35px;
        text-align: center;
        text-decoration:none ;
        width: 200px;
        border: 2px solid $yellow;
        background-color: $white;
        color: $lightblue;
        font-size: 1.2rem;
        font-family: $Montserrat;
        border-radius: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        &:hover {
          background-color: $yellow;
          color: $white;
          transition: 0.1s;
        }
      }
    }
  }
  .securite {
    margin-top: 50px;
    h2 {
      text-align: center;
      color: $yellow;
      font-family: $Montserrat;
      width: 50%;
      display: block;
      margin: auto;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 1.5rem;
      width: 80%;
      margin-top: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .confiance {
    height: 60vh;
    background-color: $yellow;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    .textContent {
      width: 50%;
      h2 {
        text-align: center;
        color: $lightblue;
        font-family: $Montserrat;
        width: 50%;
        display: block;
        margin-top: 24%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        width: 80%;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $white;
      }
    }
    .videoContent {
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  .skill {
    height: 50vh;
    background: url("http://ressources.tedyware.fr/main/contact-bg.png");
    display: flex;
    flex-direction: row;
    align-items: center;

    .boxSkill {
      height: 75%;
      width: 25%;
      background-color: $white;
      box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.25);
      margin-left: 4%;
      margin-right: 4%;
      border-radius: 10px;
      transition: 0.3s;
      a {
        text-decoration: none;
        font-size: 1.3rem;
        margin-left: 32.5%;
      }
      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 70px;
        aspect-ratio: 1/1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        margin-bottom: 30px;
        background-color: $white;
        box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.25);
        padding: 10px;
        border-radius: 50px;
      }
      h3 {
        font-family: $Montserrat;
        text-align: center;
      }
      .design{
        color: $yellow;
      }
      .web{
        color: $skyblue;
      }
      .mobile{
        color: $purple;
      }
      p {
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.5rem;
        text-align: center;
        color: $lightblue;
      }
   
    }
  }
  .contact{
    height: 30vh;
    background-color: $lightblue;
    display: flex;
    flex-direction: row;
    .contactContent{
      width: 50%;
      h2{
        color: $yellow;
        font-family: $Montserrat;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
      }
      p{
        padding-left: 20%;
        padding-right: 20%;
        font-size: 1.3rem;
        color: $white;
        text-align: center;
      }
      a {
        height: 35px;
        width: 200px;
        border: 2px solid $yellow;
        background-color: $white;
        color: $lightblue;
        font-size: 1.2rem;
        font-family: $Montserrat;
        text-align: center;
        align-self: center;
        text-decoration: none;
        border-radius: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        &:hover {
          background-color: $yellow;
          color: $white;
          transition: 0.1s;
        }
      }
    }
    .actuContent{
      width: 50%;
      h2{
        color: $yellow;
        font-family: $Montserrat;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
      }
      p{
        padding-left: 20%;
        padding-right: 20%;
        font-size: 1.3rem;
        color: $white;
        text-align: center;
      }
      a {
        height: 35px;
        width: 200px;
        border: 2px solid $yellow;
        background-color: $white;
        color: $lightblue;
        font-size: 1.2rem;
        font-family: $Montserrat;
        text-align: center;
        border-radius: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        padding: auto;
        margin-top: 30px;
        &:hover {
          background-color: $yellow;
          color: $white;
          transition: 0.1s;
        }
      }
    }
  }
}
