{% extends "projectPannel.html.twig" %}

{% block body %}

<article class="infos">
<h1>Vos informations</h1>
    <div class="container-infos">
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
        <div  class="infobloc animate__animated animate__zoomInDown"></div>
    </div>
</article>

{% endblock %}